[user]
    name = Krit Pio Nicol
    email = krit.nicol.pio@pm.me

[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process

[init]
    defaultBranch = main

[safe]
    directory = /private/etc/nix-darwin